@model QLBENHNHAN.Models.PHIEUHEN

@{
    ViewBag.Title = "Thêm mới Lịch Hẹn";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <style>
        .input-group {
            display: flex;
        }

            .input-group .form-control {
                flex: 1;
            }

        .divider {
            margin-top: 1rem;
            margin-bottom: 1rem;
            border: 0;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row gutters">
            <h1 class="h3 mb-2 ml-2 text-primary">Thêm mới Lịch Hẹn</h1>
            @using (Html.BeginForm("Create", "PhieuHen", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="row gutters">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <h6 class="mb-2 text-primary">Thông tin cơ bản</h6>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.idBN, "Chọn bệnh nhân", htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                        @Html.DropDownList("idBN", null, "--Chọn bệnh nhân--", htmlAttributes: new { @class = "form-select", @id = "idBN" })
                                        @Html.ValidationMessageFor(model => model.idBN, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.SODIENTHOAI, "Số điện thoại", htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                        @Html.EditorFor(model => model.SODIENTHOAI, new { htmlAttributes = new { @class = "form-control", @id = "SODIENTHOAI" } })
                                        @Html.ValidationMessageFor(model => model.SODIENTHOAI, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row gutters">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <h6 class="mt-3 mb-2 text-primary">Thông tin vào</h6>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        @Html.Label("Ngày", htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                        @Html.EditorFor(model => model.NGAY, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.DefaultDate, @type = "date" } })
                                        @Html.ValidationMessageFor(model => model.NGAY, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        @Html.Label("Giờ", htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                        @Html.EditorFor(model => model.GIO, new { htmlAttributes = new { @class = "form-control", @type = "time" } })
                                        @Html.ValidationMessageFor(model => model.GIO, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="form-group">
                                        @Html.Label("Ghi chú", htmlAttributes: new { @class = "control-label" })<span class="text-danger">*</span>
                                        @Html.TextAreaFor(model => model.GHICHU, new { @class = "form-control", @rows = 3 })
                                        @Html.ValidationMessageFor(model => model.GHICHU, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row gutters">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="text-right">
                                        <a class="btn btn-light" href="/Admin/PhieuHen">Trở lại</a>
                                        <button type="submit" class="btn btn-primary ml-1">Thêm mới</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</body>
</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function() {
            $('#idBN').change(function() {
                var selectedBN = $(this).val();
                $.ajax({
                    url: '@Url.Action("GetPhoneNumber", "PhieuHen")',
                    data: { idBN: selectedBN },
                    success: function(data) {
                        $('#SODIENTHOAI').val(data);
                    }
                });
            });
        });
    </script>
}