@model QLBENHNHAN.Models.BENHNHAN

@{
    ViewBag.Title = "Chi tiết thông tin Bệnh Nhân";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>  
</head>
<body>
    <div class="container">
        <div class="row gutters">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <h1 class="h3 mb-2 ml-2 text-primary">Thông tin chi tiết Bệnh Nhân</h1>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mb-2 text-primary">Thông tin cá nhân</h6>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group pe-none">
                                    @Html.Label("Mã bệnh nhân", htmlAttributes: new { @class = "control-label" }):
                                    @Html.EditorFor(model => model.MABN, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group pe-none">
                                    @Html.Label("Họ và tên", htmlAttributes: new { @class = "control-label" }):
                                    @Html.EditorFor(model => model.HOTEN, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group pe-none">
                                    @Html.Label("Ngày sinh", htmlAttributes: new { @class = "control-label" }):
                                    <input type="text" class="form-control" value="@Model.NGAYSINH.Value.ToString("dd/MM/yyyy")" readonly />
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group pe-none">
                                    @Html.Label("Giới tính", htmlAttributes: new { @class = "control-label" }):
                                    @Html.EditorFor(model => model.GIOITINH, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group pe-none">
                                    @Html.Label("Số điện thoại", htmlAttributes: new { @class = "control-label" }):
                                    @Html.EditorFor(model => model.SODIENTHOAI, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group pe-none">
                                    @Html.Label("Địa chỉ", htmlAttributes: new { @class = "control-label" }):
                                    @Html.EditorFor(model => model.DIACHI, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group pe-none">
                                    @Html.Label("Email", htmlAttributes: new { @class = "control-label" }):
                                    @Html.EditorFor(model => model.TAIKHOAN.EMAIL, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                </div>
                            </div>
                        </div>
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mt-3 mb-2 text-primary">Nơi điều trị</h6>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group pe-none">
                                    @Html.Label("Tầng", htmlAttributes: new { @class = "control-label" }):
                                    @Html.DropDownListFor(model => model.PHONG.TANG, new SelectList(new List<string> { "Tầng 1", "Tầng 2", "Tầng 3", "Tầng 4", "Tầng 5" }),
                                    "--Chọn tầng--", new { @class = "form-control", @readonly = true })
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group pe-none">
                                    @Html.Label("Phòng", htmlAttributes: new { @class = "control-label" }):
                                    @Html.DropDownListFor(model => model.idP, ViewBag.PhongList as SelectList, new { @class = "form-control", @readonly = true })
                                </div>
                            </div>
                        </div>
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="text-right">
                                    <a href="@Url.Action("Index")" class="btn btn-light">Trở lại</a>
                                    <a href="@Url.Action("Edit", new { id = Model.MABN })" class="btn btn-primary">Chỉnh sửa</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>




