@model QLBENHNHAN.Models.DONTHUOC

@{
    ViewBag.Title = "Chi tiết thông tin Đơn Thuốc";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var chiTietDonThuoc = Json.Decode(Model.CHITIETDONTHUOC);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <style>
        .divider {
            margin-top: 1rem;
            margin-bottom: 1rem;
            border: 0;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row gutters">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 mb-1">
                <h1 class="h3 mb-2 ml-2 text-primary">Thông tin chi tiết Đơn Thuốc</h1>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mb-2 text-primary">Thông tin cơ bản</h6>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group pe-none">
                                    @Html.Label("Mã đơn thuốc", htmlAttributes: new { @class = "control-label" }):
                                    @Html.EditorFor(model => model.MADT, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group pe-none">
                                    @Html.Label("Tên bệnh nhân", htmlAttributes: new { @class = "control-label" }):
                                    @Html.DropDownList("idBN", null, new { @class = "form-control", @readonly = true })
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="form-group pe-none">
                                    @Html.Label("Tên đơn thuốc", htmlAttributes: new { @class = "control-label" }):
                                    @Html.EditorFor(model => model.TENDONTHUOC, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                </div>
                            </div>
                        </div>
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mt-3 mb-2 text-primary">Chi tiết đơn thuốc</h6>
                            </div>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Tên dược phẩm</th>
                                        <th>Số lượng</th>
                                        <th>
                                            Đơn vị
                                        </th>
                                        <th>
                                            Ghi chú
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="selectedProductsBody">
                                    @{
                                        int counter = 1;
                                        foreach (var chiTiet in chiTietDonThuoc)
                                        {
                                            <tr>
                                                <td>@counter</td>
                                                <td>@chiTiet.TenThuoc</td>
                                                <td>@chiTiet.SoLuong</td>
                                                <td>@chiTiet.DonVi</td>
                                                <td>@chiTiet.GhiChu</td>
                                            </tr>
                                            counter++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="text-right">
                                    <a href="@Url.Action("Index")" class="btn btn-light">Trở lại</a>
                                    <a href="@Url.Action("Edit", new { id = Model.MADT })" class="btn btn-primary">Chỉnh sửa</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}